<header class="w-100">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(42, 69, 104)">
            <div class="col-md-4 cotainer-fluid">
                <h1 class="p-3"><a class="navbar-brand" href="#">TravelAlot</a></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse form-inline col-md-6" id="navbarMain">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item p-3">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="/waterpark">Water Parks</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="/themepark">Theme Parks</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="/coaster">Roller Coasters</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="/resort">Resorts</a>
                    </li>
                </ul>
            </div>
            </div class="collapse navbar-collapse form-inline col" id="navbarMain">
            <form class="navbar-nav">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-light my-sm-0" type="submit">Search</button>
            </form>
                <button class="btn login-btn pl-3 pr-4" data-toggle="tooltip" data-placement="bottom"
                        title="Profile"><a href="/login"><i class="fa-solid fa-user fa-lg"
                                style="color: white;"></i></a></button>
            </div>
        </nav>
    </header>
  <main style="background-color:white;">
        <section>
            <div id="map">
            </div>
        </section>
        <section class="my-5 d-flex justify-content-center">
            <div>
                <h1 class="title">Roller Coasters</h1>
                <hr class="divider">
            </div>
        </section>
        <section class="row p-4 m-0 section-divide">
            
            <div class="col text-center">
                <h4>Kingda Ka, Six Flags Great Adventure, Jackson, New Jersey </h4>
                <p>1 Six Flags Blvd, Jackson Township, NJ 08527</p>
                <br>
                <div class="p-2">
                <p>The world’s most famous theme park, Magic Kingdom Park at Walt Disney World® Resort in Orlando is the place where childhood dreams come true. With more than 40 unforgettable attractions, themed dining and shopping, and countless surprises, your imagination is the limit when you’re at “The Most Magical Place on Earth</p>
                    <ul class="text-left">
                        <li><b>Height: 456 ft</b></li>
                        <li><b>Website:</b><a href="https://www.sixflags.com/greatadventure/attractions/kingda-ka "> https://www.sixflags.com/greatadventure/attractions/kingda-ka </a></li>
                        <li><b>Description Source:</b><a href="https://flavorverse.com/tallest-roller-coasters-in-us/ ">  https://flavorverse.com/tallest-roller-coasters-in-us/ </a></li>
                    </ul>
                    <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)">Save this Ride!</button>    
                </div>
            </div>
            <div class="col">
                <img src="../img/Kingda_Ka.jpeg" class="rounded float-right" alt="kingda ka"
                    style="width: 40rem">
            </div>
        </section>

       
        <section class="row p-4 m-0 section-divide">
            
            <div class="col text-center">
                <h4> Top Thrill Dragster, Cedar Point, Sandusky, Ohio</h4>
                <p>1 Cedar Point Dr, Sandusky, OH 44870 </p>
                <br>
                <div class="p-2">
                    <p> Within just 3.8 seconds, this roller coaster, having steel accelerators reaches a speed of 120 mph before going up an unnerving 90-degree vertical slope. Soon, it would leave you gasping for air for dashing downward in a 270-degree twist. However, despite triumphing as the second loftiest roller coaster in the US, it is not counted among the best by reviewers. The other attractions of the park include 72 more rides with 16 roller coasters. </p>
                        <ul class="text-left">
                            <li><b> Height: 420 ft</b></li>
                            <li><b>Website:</b><a href="https://www.cedarpoint.com/rides-experiences/top-thrill-dragster ">Top Thrill Dragster Website </a></li>
                            <li><b>Description Source:</b><a href="https://flavorverse.com/tallest-roller-coasters-in-us/  "> https://flavorverse.com/tallest-roller-coasters-in-us/  </a></li>
                        </ul>
                    </div>
                    <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)">Save this Ride!</button>
            </div>
            <div class="col">
                <img src="../img/rollcoast22.jpeg" class="rounded float-right" alt="Thrill dragster"
                    style="width: 40rem">
            </div>
        </section>

        <section class="row p-4 m-0 section-divide">
            
            <div class="col text-center">
                <h4>Superman: Escape from Krypton, Six Flags Magic Mountain, Valencia, California </h4>
                <p>26101 Magic Mountain Parkway, Valencia, CA 91355</p>
                <br>
                <div class="p-2">
                    <p> Clinging to seats facing backward, you are going to soar up in this coaster vertically at 90 degrees and then dive into a misty underground tunnel at a speed of 77 mph. Be prepared next for going round-and-round through a double helix, a second dive into a tube, and many other breathtaking elements. Moreover, there are 19 different roller coasters, games, as well as 100 more rides. </p>
                        <ul class="text-left">
                            <li><b>Height: 415 ft</b></li>
                            <li><b>Website:</b><a href=" https://www.sixflags.com/magicmountain/attractions/superman-escape-krypton "> Superman: Escape from Krypton, Six Flags Magic Mountain Website </a></li>
                            <li><b>Description Source:</b><a href=" https://flavorverse.com/tallest-roller-coasters-in-us/  "> https://flavorverse.com/tallest-roller-coasters-in-us/   </a></li>
                        </ul>
                    </div>
                    <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)" >Save this Ride!</button>
            </div>
            <div class="col">
                <img src="../img/rollercoast3.jpeg" class="rounded float-right" alt="superman escape"
                    style="width: 40rem">
            </div>
        </section>

        <section class="row p-4 m-0 section-divide">
            
            <div class="col text-center">
                <h4>Fury 325, Carowinds, Charlotte, North Carolina and Fort Mill, South Carolina  </h4>
                <p>300 Carowinds Blvd, Charlotte, NC 28273</p>
                <br>
                <div class="p-2">
                    <p> Also called “Oscars of Roller Coasters” Fury 325, claims to be the longest one in America, going for more than 1.25 miles at a top speed of 95 mph. Climbing up a traditional lift hill, this steel roller coaster receives special recognition for crossing the state lines of both North and South Carolina as well as the communities of Fort Mill and Charlotte. The 398-acre Carowinds Park that houses it also features 64 rides with 12 other magnificent roller coasters. </p>
                        <ul class="text-left">
                            <li><b>Height: 325 ft</b></li>
                            <li><b>Website:</b><a href="https://www.carowinds.com/rides-experiences/fury-325  "> Fury 325 Website </a></li>
                            <li><b>Description Source:</b><a href="https://flavorverse.com/tallest-roller-coasters-in-us/ "> https://flavorverse.com/tallest-roller-coasters-in-us/  </a></li>
                        </ul>
                    </div>
                    <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)" >Save this Ride!</button>
            </div>
            <div class="col">
                <img src="../img/rollercoast4.jpeg" class="rounded float-right" alt="rollercoast"
                    style="width: 40rem">
            </div>
        </section>

        <section class="row p-4 m-0 section-divide">
            
            <div class="col text-center">
                <h4>Millennium Force, Cedar Points, Sandusky, Ohio </h4>
                <p>1 Cedar Point Dr, Sandusky, OH 44870</p>
                <br>
                <div class="p-2">
                    <p> The alluring fascinations of this Giga coaster are many: it offers a thrilling ride, lasts for about 2 minutes and attains a speed of 93mph while going through a host of unnerving drops. Naturally, after its first unveiling in 2000, it has achieved either the 1st or 2nd rank at the Golden Ticket Awards. Another plus point is that it endows a ravishing view of Lake Erie. </p>
                        <ul class="text-left">
                            <li><b>Height: 310 ft</b></li>
                            <li><b>Website:</b><a href="https://www.cedarpoint.com/rides-experiences/millennium-force  ">millennium-force website </a></li>
                            <li><b>Description Source:</b><a href=" https://flavorverse.com/tallest-roller-coasters-in-us/ "> https://flavorverse.com/tallest-roller-coasters-in-us/ </a></li>
                        </ul>
                    </div>
                    <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)">Save this Ride!</button>
            </div>
            <div class="col">
                <img src="../img/rollercoast5.jpeg" class="rounded float-right" alt="Millenium Force"
                    style="width: 40rem">
            </div>
        </section>

    </main>

<script>
    function initMap() {
        var options = {
            zoom: 5,
            center: { lat: 41.4828, lng: -82.6853 }
        }

        var map = new google.maps.Map(document.getElementById('map'), options);


        var markers = [
            {
                coords: { lat: 40.1398, lng: -74.4355 },
                content: '<h2>Kingda Ka, Six Flags Great Adventure, Jackson, New Jersey, 1 Six Flags Blvd, Jackson Township, NJ 08527  </h2>' 
            },
            {
                coords: { lat: 41.4828 , lng: -82.6853},
                content: '<h2> Top Thrill Dragster, 1 Cedar Point Dr, Sandusky, OH 44870 </h2>' 

            },

            {
                coords: { lat: 34.4238, lng: - 118.5971},
                content: '<h2>Escape from Krypton, Six Flags Magic Mountain, 26101 Magic Mountain Parkway, Valencia, CA 91355   </h2>' 

            },

            {
                coords: { lat: 35.1055, lng: -80.9425 },
                content: '<h2> Fury 325, Carowinds, 300 Carowinds Blvd, Charlotte, NC 28273  </h2>'

            },

            {
                coords: { lat: 41.4819, lng: -82.6865 },
                content: '<h2> Millennium Force, 1 Cedar Point Dr, Sandusky, OH 44870   </h2>'

            }

        ];

        //Loop through markers

        for (var i = 0; i < markers.length; i++) {
            addMarker(markers[i]);
        }


        //Add Marker Function
        function addMarker(props) {
            var marker = new google.maps.Marker({
                position: props.coords,
                map: map,
                // icon: 'http://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
            });


            //check content
            if (props.content) {
                var infoWindow = new google.maps.InfoWindow({
                    content: props.content

                });

                marker.addListener('click', () => {
                    infoWindow.open(map, marker);
                });
            }

        }

    }
</script>

