<header id="home" class="w-100">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(42, 69, 104)">
            <div class="col-md-4 cotainer-fluid">
                <h1 class="p-3"><a class="navbar-brand" href="#">Travel App</a></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse form-inline col-md-6" id="navbarMain">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="./main/waterpark.handlebars">Water Parks</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Theme Parks</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Roller Coasters</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Resorts</a>
                    </li>
                </ul>
            </div>
            </div class="collapse navbar-collapse form-inline col" id="navbarMain">
            <form class="navbar-nav">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-light my-sm-0" type="submit">Search</button>
                <button class="btn login-btn pl-3 pr-4" data-toggle="tooltip" data-placement="bottom"
                    title="Profile"><i class="fa-solid fa-user fa-lg"></i></button>
            </form>
            </div>
        </nav>
    </header>
    <main>
        <section class="container d-flex justify-content-center my-5 slide-section">
            <div id="carouselExampleControls" class="carousel slide carousel-border" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active card">
                        <img src="../img/slide-1.jpg" class="d-block w-100 slide-img" alt="...">
                    </div>
                    <div class="carousel-item card">
                        <img src="../img/slide-2.jpg" class="d-block w-100 slide-img" alt="...">
                    </div>
                    <div class="carousel-item card">
                        <img src="../img/slide-3.jpg" class="d-block w-100 slide-img" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

        <section class="subsection-2 container d-flex justify-content-center pt-5 project-section" id="projects">

            <div class="project-container d-flex justify-content-center row w-100">

                <div class="card cards m-2 text-center" style="width: 16rem;">
                    <img src="../img/water-park-bg.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-text">Water Parks</h4>
                    </div>
                </div>

                <div class="card cards m-2 text-center" style="width: 16rem;">
                    <img src="../img/water-park-bg.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-text">Theme Parks</h4>
                    </div>
                </div>

                <div class="card cards m-2 text-center" style="width: 16rem;">
                    <img src="../img/water-park-bg.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-text">Roller Coasters</h4>
                    </div>
                </div>

                <div class="card cards m-2 text-center" style="width: 16rem;">
                    <img src="../img/water-park-bg.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-text">Resorts</h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="w-100 h-100 mt-3 p-0">
            <footer class="style-footer text-center" style="background-color: rgb(42, 69, 104)">
                <p>2022</p>
            </footer>
        </section>
    </main>