    <header>
        <div class="jumbotron jumbotron-fluid p-4" style="background-color: rgba(22, 107, 122, 0.555)">
            <div class="w-100 p-0">
                <div class="d-flex justify-content-between">
                    <h1 class="display-4 text-white pl-5">{{users.firstname}} {{users.lastname}}</h1>
                    <button class="btn pr-5"><a href="/"><i class="fa-solid fa-house fa-2x" style="color:white;"></a></i></button>
                </div>
            </div>
        </div>
    </header>

    <main class="w-100">
        <div>
        <section class="d-flex justify-content-center">
            <div class="card w-50 p-4" style="background-color:rgb(181, 243, 222); font-style:italic;">
                <div class="p-3 text-center">
                <h2>Future Destinations ✈</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h6>Cras justo odio</h6></li>
                    <li class="list-group-item"><h6>Dapibus ac facilisis in</h6></li>
                    <li class="list-group-item"><h6>Vestibulum at eros</h6></li>
                </ul>
            </div>
        </section>
        </div>
    </main>