<header class="w-100">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(42, 69, 104)">
            <div class="col-md-4 cotainer-fluid">
                <h1 class="p-3"><a class="navbar-brand" href="#">Travel App</a></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse form-inline col-md-6" id="navbarMain">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item p-3">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="/waterpark">Water Parks</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="/themepark">Theme Parks</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Roller Coasters</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Resorts</a>
                    </li>
                </ul>
            </div>
            </div class="collapse navbar-collapse form-inline col" id="navbarMain">
            <form class="navbar-nav">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-light my-sm-0" type="submit">Search</button>
                <button class="btn login-btn pl-3 pr-4" data-toggle="tooltip" data-placement="bottom"
                    title="Profile"><i class="fa-solid fa-user fa-lg"></i></button>
            </form>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div id="map">
            </div>
        </section>
        <section class="my-5 d-flex justify-content-center">
            <div>
                <h1 class="title">Water Parks</h1>
                <hr class="divider">
            </div>
        </section>
        <section class="row p-4 m-0 section-divide">

            <div class="col text-center">
                <h4>Typhoon Lagoon at Walt Disney World Resort</h4>
                <p>1145 E Buena Vista Dr, Orlando, FL 32830</p>
                <br>
                <div class="p-2">
                    <p> Surf’s up at Disney's Typhoon Lagoon Water Park at Walt Disney World® Resort, where legend tells
                        the
                        tale of a whirlwind storm. Hurling surfboards into palm trees, propelling small boats onto
                        rooftops,
                        and impaling a shrimp boat to the top of volcanic Mount Mayday, the tempest finally calmed and
                        left
                        behind a tropical paradise where you’ll experience peaceful bliss and pulse-pounding adventure
                        alike! </p>
                    <ul class="text-left">
                        <li><b>Visits a year: 2.25 million</b></li>
                        <li><b>Website:</b><a href="https://disneyworld.disney.go.com/destinations/typhoon-lagoon/" target="_blank">
                                Typhoon Lagoon Website</a></li>
                        <li><b>Description Source:</b><a
                                href="https://www.visitorlando.com/things-to-do/theme-parks/walt-disney-world-resort/disneys-typhoon-lagoon-water-park/" target="_blank">
                                https://www.visitorlando.com/things-to-do/theme-parks/walt-disney-world-resort/disneys-typhoon-lagoon-water-park/</a>
                        </li>
                    </ul>
                    <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)">Save This Park!</button>
                </div>
            </div>
            <div class="col">
                <img src="../img/water-park-bg.jpg" class="rounded float-right" alt="Typhoon Lagoon image"
                    style="width: 40rem">
            </div>
        </section>

        <section class="row p-4 m-0 section-divide">

            <div class="col text-center">
                <h4>Blizzard Beach</h4>
                <p>1534 Blizzard Beach Drive, Orlando, FL 32836</p>
                <br>
                <div class="p-2">
                    <p> Plunge into the absolute coolest water park that pummels the pools for awesome fun in a
                        fantastic setting. Disney's Blizzard Beach Water Park, one of 2 Water Parks at Walt Disney World
                        Resort, features one of the world's tallest and fastest free-falling waterslides, as well as
                        slides and rides for the whole family—like a kid-sized, snow-castle fountain play area with
                        scaled-down versions of the thrilling attractions.</p>
                    <ul class="text-left">
                        <li><b>Visits a year: 1.98 million</b></li>
                        <li><b>Website:</b><a href="https://disneyworld.disney.go.com/destinations/blizzard-beach/" target="_blank">
                                Blizzard Beach Website</a></li>
                        <li><b>Description Source:</b><a
                                href="https://www.officialticketcenter.com/Blizzard-Beach-Rides.aspx" target="_blank">
                                https://www.officialticketcenter.com/Blizzard-Beach-Rides.aspx</a></li>
                    </ul>
                </div>
                <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)">Save This Park!</button>
            </div>
            <div class="col">
                <img src="../img/blizzard-beach-img.jpg" class="rounded float-right" alt="Blizzard Beach image"
                    style="width: 40rem">
            </div>
        </section>

        <section class="row p-4 m-0 section-divide">

            <div class="col text-center">
                <h4>Universal's Volvano Bay</h4>
                <p>6000 Universal Blvd, Orlando, FL 32819</p>
                <br>
                <div class="p-2">
                    <p> This imaginative water theme park is equal parts vibrant and serene, and resort-like amenities
                        and creative menu offerings only add to the South Pacific island appeal. Sip a specialty
                        cocktail or sample Polynesian delights as you plunge into island life!
                        Excitement awaits in Rainforest Village, including Kala & Tai Nui Serpentine Body Slides, Maku
                        Puihi Round Raft Rides, Punga Racers, Taniwha Tubes — Tonga & Raki, TeAwa the Fearless River and
                        Ohyah & Ohno Drop Slides. Or, take a relaxing dip in the Puka Uli Lagoon.
                        Universal’s Volcano Bay further benefits from the innovative TapuTapu wearable technology.
                    </p>
                    <ul class="text-left">
                        <li><b>Visits a year: 1.81 million</b></li>
                        <li><b>Website:</b><a href="https://www.universalorlando.com/web/en/us/theme-parks/volcano-bay" target="_blank">
                                Universal's Volcano Bay Website</a></li>
                        <li><b>Description Source:</b><a
                                href="https://www.visitorlando.com/things-to-do/theme-parks/universal-orlando-resort/universals-volcano-bay/" target="_blank">
                                https://www.visitorlando.com/things-to-do/theme-parks/universal-orlando-resort/universals-volcano-bay/</a>
                        </li>
                    </ul>
                </div>
                <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)">Save This Park!</button>
            </div>
            <div class="col">
                <img src="../img/universal-volcano-img.jpg" class="rounded float-right"
                    alt="Universal's Volcano Bay image" style="width: 40rem">
            </div>
        </section>

        <section class="row p-4 m-0 section-divide">

            <div class="col text-center">
                <h4>Atlantis Aquaventure</h4>
                <p>One Casino Drive, Suite 42, Paradise Island, Bahamas</p>
                <br>
                <div class="p-2">
                    <p> Aquaventure is our one-of-a-kind, 141-acre water park overlooking some of Nassau’s best beaches.
                        This non-stop aquatic playground features over twenty million gallons of water, magnificent
                        Atlantean-themed towers housing high-speed water slides, a mile-long river ride with rolling
                        rapids and wave surges, a spectacular kids’ water-play fort and 11 refreshing swimming pools.
                        Aquaventure is a lush, tropical environment that is immersive, interconnected and perfect for
                        all vacationers, both young and old. The water park offers an extreme level of excitement and
                        delivers an "aqua" adventure unlike any other.
                    </p>
                    <ul class="text-left">
                        <li><b>Visits a year: 1.81 million</b></li>
                        <li><b>Website:</b><a href="https://www.universalorlando.com/web/en/us/theme-parks/volcano-bay" target="_blank">
                                Atlantis Aquaventure Website</a></li>
                        <li><b>Description Source:</b><a
                                href="https://www.atlantisbahamas.com/things-to-do/aquaventure-water-park" target="_blank">
                                https://www.atlantisbahamas.com/things-to-do/aquaventure-water-park</a>
                        </li>
                    </ul>
                </div>
                <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)">Save This Park!</button>
            </div>
            <div class="col">
                <img src="../img/atlantis-img.jpg" class="rounded float-right" alt="Atlantis Aquaventure image"
                    style="width: 40rem">
            </div>
        </section>

        <section class="row p-4 m-0 section-divide">

            <div class="col text-center">
                <h4>Aquatica</h4>
                <p>5800 Water Play Way, Orlando, FL 32821</p>
                <br>
                <div class="p-2">
                    <p> Aquatica Orlando combines the sort of up-close animal encounters that made SeaWorld Orlando
                        famous with thrilling rides, sandy beaches and a serene lazy river for optimal water-themed
                        entertainment. And thanks to heated water in the cooler months, it’s open for your enjoyment all
                        year long!
                    </p>
                    <ul class="text-left">
                        <li><b>Visits a year: 1.53 million</b></li>
                        <li><b>Website:</b><a href="https://aquatica.com/orlando/" target="_blank">
                                Aquatica Website</a></li>
                        <li><b>Description Source:</b><a
                                href="https://www.visitorlando.com/things-to-do/theme-parks/seaworld-orlando/aquatica-orlando/" target="_blank">
                                https://www.visitorlando.com/things-to-do/theme-parks/seaworld-orlando/aquatica-orlando/</a>
                        </li>
                    </ul>
                </div>
                <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)">Save This Park!</button>
            </div>
            <div class="col">
                <img src="../img/aquatica-img.jpg" class="rounded float-right" alt="Atlantis Aquaventure image"
                    style="width: 40rem">
            </div>
        </section>
    </main>

    <script>
    function initMap() {
        var options = {
            zoom: 10,
            center: { lat: 28.3772, lng: -81.5707 }     
        }

        var map = new google.maps.Map(document.getElementById('map'), options);


        var markers = [
            {
                coords: { lat: 28.3658, lng: -81.5296 },
                content: '<h1> Typhoon Lagoon at Walt Disney World Resort, Address: 1145 E Buena Vista Dr, Orlando, FL 32830, Visits a year: 2.25 million  </h1>'
            },
            {
                coords: { lat: 28.3513, lng: -81.5763 },
                content: '<h1>Blizzard Beach, Address: 1534 Blizzard Beach Drive, Orlando, FL 32836, Visits a year: 1.98 million</h1>'

            },

            {
                coords: { lat: 28.4615, lng: -81.4731 },
                content: '<h1>Universal’s Volcano Bay, Address: 6000 Universal Blvd, Orlando, FL 32819, Visits a year: 1.81 million   </h1>'

            },

            {
                coords: { lat: 28.4153, lng: -81.4554 },
                content: '<h1>Aquatica, Address: 5800 Water Play Way, Orlando, FL 32821,Visits a year: 1.53 million  </h1>'

            },

            {
                coords: { lat: 25.0862, lng: -77.3238 },
                content: '<h1> Atlantis Aquaventure, Address: One Casino Drive, Suite 42, Paradise Island, Bahamas, Visits a year: 1.81 million   </h1>'

            }

        ];

        //Loop through markers

        for (var i = 0; i < markers.length; i++) {
            addMarker(markers[i]);
        }


        //Add Marker Function
        function addMarker(props) {
            var marker = new google.maps.Marker({
                position: props.coords,
                map: map,
                icon: 'http://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
            });


            //check content
            if (props.content) {
                var infoWindow = new google.maps.InfoWindow({
                    content: props.content

                });

                marker.addListener('click', () => {
                    infoWindow.open(map, marker);
                });
            }

        }

    }
</script>




