@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    margin:0;
    padding:0;
}

body {
    min-height:100%;
    min-width:100%;
    background-image: url("../../../img/login-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    font-family: 'Courgette', cursive;
}

.solid {
    border-top: 1px solid black;
}

.log-container {
    border: 2px solid black;
    border-radius: 5%;;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
    min-width: 400px;
    min-height: 400px;
    margin: 200px;
    
}

.sign-up {
    color: rgb(7, 94, 121);
}



