<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/waterpark.css">
    <title>Travel App | Water Parks</title>

</head>

<body>
    <header class="w-100">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(42, 69, 104)">
            <div class="col-md-4 cotainer-fluid">
                <h1 class="p-3"><a class="navbar-brand" href="#">Travel App</a></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse form-inline col-md-6" id="navbarMain">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Water Parks</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Theme Parks</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Roller Coasters</a>
                    </li>
                </ul>
            </div>
            </div class="collapse navbar-collapse form-inline col" id="navbarMain">
            <form class="navbar-nav">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-light my-sm-0" type="submit">Search</button>
                <button class="btn login-btn pl-3 pr-4" data-toggle="tooltip" data-placement="bottom"
                    title="Profile Login"><i class="fa-solid fa-user fa-lg"></i></button>
            </form>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div id="map">
            </div>
        </section>
        <section class="my-5 d-flex justify-content-center">
            <div>
                <h1 class="title">Water Parks</h1>
                <hr class="divider">
            </div>
        </section>
        <section class="row p-4 m-0 section-divide">
            
            <div class="col text-center">
                <h4>Typhoon Lagoon at Walt Disney World Resort</h4>
                <p>1145 E Buena Vista Dr, Orlando, FL 32830</p>
                <br>
                <div class="p-2">
                <p> Surf’s up at Disney's Typhoon Lagoon Water Park at Walt Disney World® Resort, where legend tells the
                    tale of a whirlwind storm. Hurling surfboards into palm trees, propelling small boats onto rooftops,
                    and impaling a shrimp boat to the top of volcanic Mount Mayday, the tempest finally calmed and left
                    behind a tropical paradise where you’ll experience peaceful bliss and pulse-pounding adventure
                    alike! </p>
                    <ul class="text-center">
                        <li><b>Visits a year: 2.25 million</b></li>
                        <li><b>Website:</b><a href="https://disneyworld.disney.go.com/destinations/typhoon-lagoon/"> Typhoon Lagoon Website</a></li>
                        <li><b>Description Source:</b><a href="https://www.visitorlando.com/things-to-do/theme-parks/walt-disney-world-resort/disneys-typhoon-lagoon-water-park/"> https://www.visitorlando.com/things-to-do/theme-parks/walt-disney-world-resort/disneys-typhoon-lagoon-water-park/</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <img src="../../img/water-park-bg.jpg" class="rounded float-right" alt="Typhoon Lagoon image"
                    style="width: 40rem">
            </div>
        </section>

        <!-- Create the other parks using the below format; just swap the old info with the new one starting with Blizzard Beach  -->

        <section class="row p-4 m-0 section-divide">
            
            <div class="col text-center">
                <h4>Typhoon Lagoon at Walt Disney World Resort</h4>
                <p>1145 E Buena Vista Dr, Orlando, FL 32830</p>
                <br>
                <div class="p-2">
                <p> Surf’s up at Disney's Typhoon Lagoon Water Park at Walt Disney World® Resort, where legend tells the
                    tale of a whirlwind storm. Hurling surfboards into palm trees, propelling small boats onto rooftops,
                    and impaling a shrimp boat to the top of volcanic Mount Mayday, the tempest finally calmed and left
                    behind a tropical paradise where you’ll experience peaceful bliss and pulse-pounding adventure
                    alike! </p>
                    <ul class="text-center">
                        <li><b>Visits a year: 2.25 million</b></li>
                        <li><b>Website:</b><a href="https://disneyworld.disney.go.com/destinations/typhoon-lagoon/"> Typhoon Lagoon Website</a></li>
                        <li><b>Description Source:</b><a href="https://www.visitorlando.com/things-to-do/theme-parks/walt-disney-world-resort/disneys-typhoon-lagoon-water-park/"> https://www.visitorlando.com/things-to-do/theme-parks/walt-disney-world-resort/disneys-typhoon-lagoon-water-park/</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <img src="../../img/water-park-bg.jpg" class="rounded float-right" alt="Typhoon Lagoon image"
                    style="width: 40rem">
            </div>
        </section>

    </main>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/79cda57a21.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQVDg-KzR2HpDshaYll5soqQuNdg5vZiA&callback=initMap"></script>
<script>
    function initMap() {
        var options = {
            zoom: 10,
            center: { lat: 28.3772, lng: -81.5707 }
        }

        var map = new google.maps.Map(document.getElementById('map'), options);


        var markers = [
            {
                coords: { lat: 28.3658, lng: -81.5296 },
                content: '<h1> Typhoon Lagoon at Walt Disney World Resort, Address: 1145 E Buena Vista Dr, Orlando, FL 32830, Visits a year: 2.25 million  </h1>'
            },
            {
                coords: { lat: 28.3513, lng: -81.5763 },
                content: '<h1>Blizzard Beach, Address: 1534 Blizzard Beach Drive, Orlando, FL 32836, Visits a year: 1.98 million</h1>'

            },

            {
                coords: { lat: 28.4615, lng: -81.4731 },
                content: '<h1>Universal’s Volcano Bay, Address: 6000 Universal Blvd, Orlando, FL 32819, Visits a year: 1.81 million   </h1>'

            },

            {
                coords: { lat: 28.4153, lng: -81.4554 },
                content: '<h1>Aquatica, Address: 5800 Water Play Way, Orlando, FL 32821,Visits a year: 1.53 million  </h1>'

            },

            {
                coords: { lat: 25.0862, lng: -77.3238 },
                content: '<h1> Atlantis Aquaventure, Address: One Casino Drive, Suite 42, Paradise Island, Bahamas, Visits a year: 1.81 million   </h1>'

            }

        ];

        //Loop through markers

        for (var i = 0; i < markers.length; i++) {
            addMarker(markers[i]);
        }


        //Add Marker Function
        function addMarker(props) {
            var marker = new google.maps.Marker({
                position: props.coords,
                map: map,
                icon: 'http://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
            });


            //check content
            if (props.content) {
                var infoWindow = new google.maps.InfoWindow({
                    content: props.content

                });

                marker.addListener('click', () => {
                    infoWindow.open(map, marker);
                });
            }

        }

    }
</script>

</html>