<header class="w-100">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(42, 69, 104)">
            <div class="col-md-4 cotainer-fluid">
                <h1 class="p-3"><a class="navbar-brand" href="#">Travel App</a></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse form-inline col-md-6" id="navbarMain">
           <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Water Parks</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Theme Parks</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Roller Coasters</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="#">Resorts</a>
                    </li>
                </ul>
            </div>
            </div class="collapse navbar-collapse form-inline col" id="navbarMain">
            <form class="navbar-nav">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-light my-sm-0" type="submit">Search</button>
                <button class="btn login-btn pl-3 pr-4" data-toggle="tooltip" data-placement="bottom"
                    title="Profile Login"><i class="fa-solid fa-user fa-lg"></i></button>
            </form>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div id="map">
            </div>
        </section>
        <section class="my-5 d-flex justify-content-center">
            <div>
                <h1 class="title">Water Parks</h1>
                <hr class="divider">
            </div>
        </section>
        <section class="row p-4 m-0 section-divide">
            
            <div class="col text-center">
                <h4>Typhoon Lagoon at Walt Disney World Resort</h4>
                <p>1145 E Buena Vista Dr, Orlando, FL 32830</p>
                <br>
                <div class="p-2">
                <p> Surf’s up at Disney's Typhoon Lagoon Water Park at Walt Disney World® Resort, where legend tells the
                    tale of a whirlwind storm. Hurling surfboards into palm trees, propelling small boats onto rooftops,
                    and impaling a shrimp boat to the top of volcanic Mount Mayday, the tempest finally calmed and left
                    behind a tropical paradise where you’ll experience peaceful bliss and pulse-pounding adventure
                    alike! </p>
                    <ul class="text-center">
                        <li><b>Visits a year: 2.25 million</b></li>
                        <li><b>Website:</b><a href="https://disneyworld.disney.go.com/destinations/typhoon-lagoon/"> Typhoon Lagoon Website</a></li>
                        <li><b>Description Source:</b><a href="https://www.visitorlando.com/things-to-do/theme-parks/walt-disney-world-resort/disneys-typhoon-lagoon-water-park/"> https://www.visitorlando.com/things-to-do/theme-parks/walt-disney-world-resort/disneys-typhoon-lagoon-water-park/</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <img src="../../img/water-park-bg.jpg" class="rounded float-right" alt="Typhoon Lagoon image"
                    style="width: 40rem">
            </div>
        </section>

        <section class="row p-4 m-0 section-divide">
            
            <div class="col text-center">
                <h4>Typhoon Lagoon at Walt Disney World Resort</h4>
                <p>1145 E Buena Vista Dr, Orlando, FL 32830</p>
                <br>
                <div class="p-2">
                <p> Surf’s up at Disney's Typhoon Lagoon Water Park at Walt Disney World® Resort, where legend tells the
                    tale of a whirlwind storm. Hurling surfboards into palm trees, propelling small boats onto rooftops,
                    and impaling a shrimp boat to the top of volcanic Mount Mayday, the tempest finally calmed and left
                    behind a tropical paradise where you’ll experience peaceful bliss and pulse-pounding adventure
                    alike! </p>
                    <ul class="text-center">
                        <li><b>Visits a year: 2.25 million</b></li>
                        <li><b>Website:</b><a href="https://disneyworld.disney.go.com/destinations/typhoon-lagoon/"> Typhoon Lagoon Website</a></li>
                        <li><b>Description Source:</b><a href="https://www.visitorlando.com/things-to-do/theme-parks/walt-disney-world-resort/disneys-typhoon-lagoon-water-park/"> https://www.visitorlando.com/things-to-do/theme-parks/walt-disney-world-resort/disneys-typhoon-lagoon-water-park/</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <img src="../../img/water-park-bg.jpg" class="rounded float-right" alt="Typhoon Lagoon image"
                    style="width: 40rem">
            </div>
        </section>

    </main>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQVDg-KzR2HpDshaYll5soqQuNdg5vZiA&callback=initMap"></script>
<script src="../../public/js/waterpark.js"></script>